.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 48px;
  bottom: 106px;
  background: url(../img/decor-sp.svg) repeat-x;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero-info .text {
  max-width: 440px;
  margin-bottom: 140px;
}

.hero-images {
  position: relative;
  display: flex;
}

.hero-images img {
  display: inline-block;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  padding: 22px;
  max-width: 161px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #535755;
  text-align: center;
}

.news-container {
  display: flex;
  gap: 28px;
}

.news-article {
  display: flex;
  flex-direction: column;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-date {
  display: inline-block;
  margin-bottom: 8px;
}

.news-article footer {
  padding: 0px 20px 20px;
  margin-top: auto;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url(../img/arrow-right.svg);
  transition: transform 0.2s;
}

.news-link:hover::after {
  transform: translateX(7px);
}

.news {
  display: none;
}

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 40%;
  height: 48px;
  top: 215px;
  background: url(../img/decor-sp.svg) repeat-x;
}

.faq {
  display: none;
}

.phone-link {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  text-decoration: none;
  transition: color 0.2s;
}

.phone-link:hover {
  color: #3596ed;
}

.faq-container {
  display: flex;
  gap: 28px;
}

details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details[open] summary::after {
  transform: rotate(180deg);
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

summary::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(../img/arrow-down.svg) no-repeat center / cover;
}

summary::-webkit-details-marker {
  display: none;
}

details > p {
  padding: 0 20px 20px;
}

@media (width <= 1440px) {
  .hero-images img {
    max-width: 100%;
    height: auto;
  }
}
