@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Regular"),
    local("Satoshi-Regular"),
    url(../../fonts/Satoshi-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Medium"),
    local("Satoshi-Medium"),
    url(../../fonts/Satoshi-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src:
    local("Satoshi Bold"),
    local("Satoshi-Bold"),
    url(../../fonts/Satoshi-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IntegralCF;
  src:
    local("Integral Regular"),
    local("Integral-Regular"),
    url(../../fonts/IntegralCF-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IntegralCF;
  src:
    local("Integral Bold"),
    local("Integral-Bold"),
    url(../../fonts/IntegralCF-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: FONTSPRING-Integral-Heavy;
  src:
    local("FONTSPRING-Integral-Heavy"),
    local("FONTSPRING Integral Heavy"),
    url(../../fonts/FONTSPRING-Integral-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
